@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  min-height: 100vh;
  margin: 0;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  color: #F9FAF8;
  display: flex;
  flex-direction: column;

}

ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  column-gap: 24px;
}

button {
  width: 108px;
  height: 30px;
  color: #F9FAF8;
  background-color: #3882F6;
  border: 0;
  border-radius: 5px;
}

.text {
  color: #F9FAF8CC;
}

/* HEADER */
.header {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
}

.header-logo {
  font-size: 18px;
  color: #F9FAF8;
  font-weight: 700;
}

/* BANNER */
.banner {
  background-color: #1F2937;
  display: flex;
  column-gap: 16px;
  padding: 48px 150px;
  justify-content: space-between;

}
.banner-content {
  min-height: 225px;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner-title {
  font-size: 35px;
  font-weight: 900;
}
.learn {
  margin-top: 8px;
}
.banner-img {
  border-radius: 3px;
}

/* EXAMPLES */
.info{
}
.examples-title {
  text-align: center;
  color: #1F2937;
  font-size: 24px;
  font-weight: 600;
  margin-top: 36px;
}
.examples {
  background-color: white;
  color: #1F2937;
  padding: 36px 150px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 36px;
}
.card {
  max-width: 125px;
  font-size: 12px;
  text-align: center;
}
.card-img {
  border-radius: 5px;
  margin-bottom: 8px;
}

/* QUOTE */
.quote {
  background-color: #E5E7EB;
  padding: 48px 180px;
  color: #1f293790;
  font-size: 20px;
  font-style: italic;
}
.author {
  color: #1F2937;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  text-align: right;
  padding-top: 24px;
}

/*CONTACT*/
.contact {
  background-color: #3882F6;
  border-color: white;
  border-width: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 150px;
  padding: 32px 60px;
}
.contact-title {
  font-weight: bold;
  padding-bottom: 4px;
}
.contact-btn {
  border: 2px solid #F9FAF8;
}

/* FOOTER */
.footer {
  background-color: #1F2937;
  text-align: center;
  padding: 24px 150px;
}
